# Build and binary execution outputs
bin/
build/
data/

# CUDA intermediate binaries
*.cubin
*.fatbin


# Dynamic testing generation files (keep scripts, block variable test output)
*.bin
*.csv
*.txt
